$background: rgba(243, 253, 255, 1);
$search-bar: rgba(240, 252, 255, 1);
$alert-error: rgba(187, 55, 55, 0.63);
$alert-success: rgba(57, 187, 55, 0.63);
$result-card: rgba(210, 229, 233, 1);
$city-tag: rgba(22, 28, 41, 0.63);
$text-light: rgba(255, 255, 255, 1);
$text-dark: rgba(0, 0, 0, 1);
$text-postcode: rgba(140, 143, 154, 1);
